$scale: 1;

@use "sass:math";
@use 'flexboxgrid' with (
    $flexboxgrid-max-width: #{1400 * $scale}px,
    $gutter-width: 4rem,
    $outer-margin: 2rem
);
@use 'breakpoint';

/*
$breakpoints:
  sm 48em 46rem,
  md 62em 61rem,
  lg 75em 71rem !default;

$flexboxgrid-breakpoints:
  sm 48rem,
  md 64rem,
  lg 80rem,
  xlg 90rem,
  newbreakpoint 120rem;

$flexboxgrid-max-width: 1200px !default;
*/

$desktop: 1200px;
$accent-color: #A66E4B;
$rem: 16;                // for px to em calculations
$rem_real: $rem * $scale; // what we actually set as the root. differs from above value to scale page.
$rem_mobile: 8;
$rem_mobile_real: $rem_mobile;

@function em($px, $base: $rem) {
    @return #{math.div($px, $base)}em;
}

@function emm($px) {
    @return em($px, $rem_mobile);
}

@function px($em, $base) {
    @return $base * $em;
}

//$breakpoints: add-breakpoint('mobile', (0rem 62rem));


@font-face {
    font-family: "acumin-pro";
    src: url("./acumin-pro.woff2") format("woff2"), url("./acumin-pro.woff") format("woff"), url("./acumin-pro.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

* {
    outline: 1px solid red;
    box-sizing: border-box;
}

html {
    font-size: #{$rem_mobile_real}px;

    @include breakpoint.breakpoint($desktop) {
        font-size: #{$rem_real}px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-size: 3.5em;

    @include breakpoint.breakpoint($desktop) {
        font-size: 6em;
        margin-bottom: em(100, 6 * $rem);
    }

    text-transform: uppercase;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: -0.03em;
    margin-top: 1rem;
}

.bighead.home-header {
    margin-bottom: calc(emm(32) - 1em);

    @include breakpoint.breakpoint($desktop) {
        margin-bottom: 5em;
    }
}

.embed-video {
    background-color: grey;
    width: 100%;
    padding-top: 58%;
    border-radius: 1.75em;
}

.video-caption {
    font-size: 2em;
    letter-spacing: -0.02em;
    margin-bottom: 0.5em;
}

.horizontal-line {
    width: 100%;
    height: 0.5em;
    background-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.product-feature--title, .subsection-heading {
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
    border-top: 2px solid $accent-color;
    border-bottom: 2px solid $accent-color;
}

.product-feature--title {
    letter-spacing: -0.02em;
    padding: 0.45em 0;
}

.product-feature--description {
    line-height: 1.375em;
    font-size: 1.75em;

    @include breakpoint.breakpoint($desktop) {
        max-width: 75%;
        font-size: 1.125em;
    }
}

.product-feature--link_text {
    font-size: 1.75em;

    @include breakpoint.breakpoint($desktop) {
        font-size: 1.125em;
    }

    line-height: 1.375em;
    text-transform: uppercase;
    font-weight: 500;
}

.circle_arrow {
    height: 24px;
    width: 24px;
    background-color: $accent-color;
    position: relative;
    display: inline-block;
    border-radius: 100%;
    margin-left: 0.25em;
    transform: scale(0.75);
    top: 0.5em;

    @include breakpoint.breakpoint($desktop) {
        margin-left: 0.4em;
        transform: scale(1);
        top: 0.25em;
    }
}

.circle_arrow--dash {
    height: 2px;
    width: 10px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.circle_arrow--pointy {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    margin: 0;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.product-feature--image img {
    max-width: 100%;
    height: auto;

    @include breakpoint.breakpoint($desktop) {
        height: em(412);
        max-width: none;
    }
}

.product-feature {
    margin-bottom: 1.5em;
}

.story {
    font-size: 1.75em;

    @include breakpoint.breakpoint($desktop) {
        font-size: 1.125em;
    }
}

.bighead {
    margin-bottom: 5em;
}

.rowsection {
    margin-bottom: 3em;
}

.slideshow {
    width: 100%;
    height: 900px;
    background-color: grey;
}

.subsection-heading {
    font-size: 3em;
    padding: 0.25em 0;
    margin: 0;
}

.side-image {
    width: 100%;
    height: auto;
    margin-top: 2em;

    @include breakpoint.breakpoint($desktop) {
        margin-top: 0;
        width: auto;
        height: em(548);
    }
}

footer {
    background-image: url('./img/night.jpg');
    background-size: cover;
    padding-top: 1.5em;
    padding-bottom: 8em;

    @include breakpoint.breakpoint($desktop) {
        padding-top: 3.25em;
        padding-bottom: 16em;
    }
}

footer .horizontal-line {
    background-color: white;
}

footer h1 {
    color: white;
}

footer p {
    color: white;
    font-size: 1.75em;
    @include breakpoint.breakpoint($desktop) {
        font-size: 1.125em;
    }
}

.story a {
    &:link, &:visited, &:hover, &:active {
        color: $accent-color;
        text-decoration: none;
    }
}

.specialty h1 {
    margin-bottom: .5em;
}

.next-img-in-line {
    margin-left: 1.125em;
}

.specialty img {
    height: emm(66);
    width: auto;

    @include breakpoint.breakpoint($desktop) {
        height: auto;
    }
}

header .horizontal-line {
    margin-top: em(36);
    margin-bottom: em(22);
}

header .logo-col {
    display: flex;
}

header .logo {
    margin-left: auto;
    border: none;
}

.header-links {
    text-transform: uppercase;
    font-size: emm(28);
    line-height: emm(44);
    display: none;

    @include breakpoint.breakpoint($desktop) {
        font-size: em(18);
        line-height: em(18);
        margin-right: em(36);
    }

    &:link, &:visited, &:active {
        color: black;
        text-decoration: none;
    }

    &:hover {
        color: grey;
        text-decoration: none;
    }
}
